@tailwind base;
@tailwind components;
@tailwind utilities;


table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #333;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
}
